@charset "utf-8";

//////////////////////////////////////////////////////////////////////////
//
//  Partials: common/contents
//
//////////////////////////////////////////////////////////////////////////

.contents{
  width: $contents-width;
  margin-left: auto;
  margin-right: auto;
  background: #FFF;
}
